<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aque.WebGet.Runner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Aque.WebGet.Runner.Properties.Settings>
            <setting name="Selectors" serializeAs="String">
                <value>mcfc-advert</value>
            </setting>
            <setting name="SiteMapPath" serializeAs="String">
                <value>D:\Users\mattia\Source\Repos\Aque.WebGet\Aque.WebGet.Runner\Data\sitemap-from-sitecore.xml</value>
            </setting>
            <setting name="CsvBasePath" serializeAs="String">
                <value>D:\TMP</value>
            </setting>
            <setting name="CsvFileName" serializeAs="String">
                <value>20140627</value>
            </setting>
        </Aque.WebGet.Runner.Properties.Settings>
    </userSettings>
</configuration>